<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Xam.Plugin.DownloadManager" version="1.0.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.1.114" targetFramework="portable45-net45+win8+wp8" />
</packages>